p,a{ font-family: 'Poppins', sans-serif;
}
h2{
   font-family: 'Ubuntu', sans-serif;
}
.sec1{
    display: flex;
    margin-bottom: 100px;
}

.sec2{
    display: flex;
    margin-bottom: 100px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
  
}
.sec3{
    display: flex;
    margin-bottom: 100px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
 
}
.half-width{
    width: 50%;
    margin-left: 15%;
    margin-right: 2%;

}
.half-width img{
    width: 60%;
}
#stayfocused{
    border-left: 4px solid;
    border-color:pink;
    padding-left: 3%;
   
}
.s1mission{
    color: gold;
}

.anchor{
   
    border: 0px solid;
   color:whitesmoke;
    border-radius: 8px;
    text-decoration: none;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:tomato;
    
}
h1{
    font-size: 50px;
}
#m22{
    text-align: center;
}
.3width{
    padding:5%;
    width: 100%;
    margin-left: 4%;
    margin-right: 2%;
}

.s2mission{
    background-color: rgba(230, 141, 145, 0.198);
    border: 0px solid;
    border-radius: 20px;
    padding: 5%;
    margin-left: 5%;
    background-image: url(images/illustrators/illustrator-1.png);
    background-size: 28%;
    background-position: center top;
  
    background-repeat: no-repeat;
}

.s2vision{
    background-color: rgb(241, 233, 160);
    border: 0px solid;
    border-radius: 20px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(images/illustrators/illustrator-2.png);
    background-size: 28%;
    background-position: center top;
  
    background-repeat: no-repeat;
}
.s2goals{
    background-color: rgb(233, 167, 202);
    border: 0px solid;
    border-radius: 20px;
    padding: 5%;
    background-image: url(images/illustrators/illustrator-3.png);
    background-size: 28%;
    background-position: center top;
  
    background-repeat: no-repeat;

}
.half-width2{
    width: 50%;
    margin-left: 5%;
    margin-right: -7%;
}
.half-width2 img{
    width: 65%;
}
.half-width3{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}
.half-width3 img{
    width: 90%;
}
.sec3h2{
    font-size: 45px;
} 
.circle{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
   background-position:left;
}  
.mvg{
    text-align: center;
    margin-top: 18%;
    font-family: 'Ubuntu', sans-serif;
}
#circle2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
   background-position:right;
}